footer {
  background-color: red;
  padding: 20px; }
  footer ul {
    list-style: none;
    position: relative;
    top: 50px; }
  footer li {
    display: inline;
    margin: 5px; }
  footer p {
    text-align: center; }
  footer img {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    width: 30px; }
  footer img:hover {
    background-color: blue; }

.nav-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  font-size: 1.5em; }
  .nav-container .logo {
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
  .nav-container a {
    text-decoration: none; }
  .nav-container .nav-ul {
    display: flex;
    justify-content: space-around;
    align-content: center; }
    .nav-container .nav-ul li {
      list-style: none;
      margin: 10px;
      padding: 10px; }

body {
  background: orange; }
