footer {
  background-color: red;
  padding: 20px; }
  footer ul {
    list-style: none;
    position: relative;
    top: 50px; }
  footer li {
    display: inline;
    margin: 5px; }
  footer p {
    text-align: center; }
  footer img {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    width: 30px; }
  footer img:hover {
    background-color: blue; }
