

.carousell-image {
    object-fit: cover;
    object-position: 50% 100%;
    max-height:500px;
    overflow:hidden;
}

// .carousell-item{
//     max-height: 700px;
//     object-fit:cover;
//     object-position: 50% 100%;
//     overflow:hidden;

// }

// .carousell-container-home {
//     max-height:700px;
//     object-fit:cover;
//     object-position: 50% 100%;
//     overflow:hidden;

// }
