//footer styles in here
footer {
    background-color: $light-brown;
    padding: 20px;
    
    img {
        vertical-align: center;
    }

    ul {
        list-style: none;
        margin-top: 10px;
        padding-inline-start: 0px;
        padding-top: 10px;

    }

    li {
        display: inline;
        margin: 5px;
    }
    
    p {
        position: relative;
        top: 20px;
        float:right;
    }

    .icon {
        background-color: $yellow-green;
        border-radius: 50px;
        padding: 10px;
        width: 30px;
        overflow: hidden;
    }




    .icon:hover {
        background-color: $dark-green;
    }

    .coll-1, .coll-2, .coll-3{
        width: 30%;
        text-align: left;
        padding: 10px;
        background-color: $brown;
        height: 150px;
        overflow: scroll;
        vertical-align: bottom;
    }

    .coll-3 {
        max-height: 150px;
        object-fit: cover;
        object-position: center center;
        vertical-align: middle;
    }

    .footer-cols {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
}