.contact-form {
    margin: 50px;
}

form {
    padding: 0px;
    .input-group {
        display: block;
    }
    input {
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        background-color: $yellow-green;
        border: solid $green 2px;
    }
    textarea {
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        background-color: $yellow-green;
        border: solid $green 2px;
    }
    button {
        padding: 10px;
        text-align: center;
        background-color: $yellow-green;
        color: $brown;
        font-family: $logo-font;
    }
}