//fonts imported here 

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Shade|Quicksand&display=swap');

$body-font: 'Quicksand', sans-serif;

$heading-font: 'Amatic SC', cursive;

$logo-font: 'Bungee Shade', cursive;
